body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  background-color: #eee;
}

* {
  padding: 5px;
}

h3 {
  color: red;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

.cardsWrapper{
  display: flex;
  flex-flow: row wrap;
}

.cards {
  width: 20%;
  margin: 10px;
  border: 2px solid rgba(218, 218, 218, 0.589);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(214, 214, 214);
  color: rgb(0, 0, 0);
  text-align: center;
}

.cards:hover {
  background-color: #b7ebffc7;
  box-shadow: 0 15px 15px rgb(190, 190, 190);
}

