* {
  font-family: "Exo 2", sans-serif;
  color: #fff;
  font-size: 20px;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp4469633.jpg");
  background-size: fit-content;
}

h1 {
  text-align: center;
}

.inputWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

#input,
#submit,
#reset {
  margin: 0 10px 0 10px;
  border-radius: 10px;
  color: black;
}

.divList {
  display: flex;
  justify-content: center;
}
